root = true

[*.cs]
indent_style = space
indent_size = 4

# Put return/throw/etc. statements on their own line
csharp_new_line_before_return = true
csharp_new_line_before_throw = true

# General new line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true

# Wrapping & spacing (examples)
csharp_preserve_single_line_blocks = false
csharp_preserve_single_line_statements = false